<!DOCTYPE html>
html.desktop(lang="zh-TW")
	head
		meta(charset="UTF-8")
		meta(id="Viewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title Document
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="js/modernizr-2.8.3.min.js")
		script(src="js/detectizr.js")
	body
		#content-wrap
			#l_pageContentWrap
				.l_pageContent
					#js_page-intro
					.l_landingWrap
						section#s_landingIntro.l_section.this-absoluteBox
							.l_bgWrap
								.child_bg-top.js-introBgTop
								.child_bg-bot.gradient.js-introBgBot
							.l_inside
								article.child-textWrap.js_transformScaleY.js_getTranslateY
									h1.child-logo 籌碼Ｋ線
									h2.child-title 投資好幾年了，為什麼<br>都賺不了大錢 ?
									p.child-paragraph 50萬人唯一推薦的「<span>籌碼K線</span>」<br>幫你擺脫小賺大賠的命運！
									.child-buttonWrap
										a.child-button(href="#")
											img(src="images/AppStore.png", alt="")
										a.child-button(href="#")
											img(src="images/PlayStore.png", alt="")
								.child-phoneWrap.js_transformScaleY
									.child-phoneFront
						section#s_landingSection1.l_section.this-absoluteBox
							.l_bgWrap
							.l_inside
								.child-bgWrap
									.child-upset
								article.child-textWrap.js_transformScaleY.js_getTranslateY
									h2 在投資的路上你是否有遇過以下問題 ?
									ul
										li 
											span 股票總是買了就跌，被套牢好幾個月才解套，甚至賠錢 !
										li 
											span 或是一賣股票，股票就大漲，等了好久什麼都沒賺到...
										li 
											span 不想要天天守在電腦前盯盤，卻想要有不錯的報酬率 ?
						section#s_landingSection2.l_section.this-absoluteBox
							.l_bgWrap
								.child_bg
							.l_inside
								article.js_transformScaleY
									h2 <span>籌碼K線</span> 幫你跟著主力在股市賺錢
									h3 天天盯盤已落伍，追蹤高手免被唬，只要使用籌碼K線，手機就可以是你的操盤室!
								.child-phoneWrap.js_transformScaleY
									.child-phone1
									.child-phone2
									.child-phone3
						section#s_landingSection3.l_section.this-absoluteBox
							.l_bgWrap
								.child-bg
							.l_inside
								article.child-textWrap.js_transformScaleY.js_getTranslateY
									h2 籌碼日報 : 一眼看穿主力動向
									hr
									p 每天一分鐘看看自選股有無主力大買 或 大賣<br>追蹤特定大戶對個股的進出，跟著主力一起賺
								.child-phoneWrap.js_transformScaleY
									.child-phone
						section#s_landingSection4.l_section.this-absoluteBox
							.l_bgWrap
								.child-bg
							.l_inside
								.child-phoneWrap.js_transformScaleY
									.child-phoneBack
									.child-phoneFront
								article.child-textWrap.js_transformScaleY.js_getTranslateY
									h2 籌碼健檢 : 15秒判斷股票好壞
									hr
									p 別人看均線判斷股價強弱，你靠主力持股成本線不再被騙<br>業界最多4組副圖，快速分析股價漲跌關鍵因素
						section#s_landingSection5.l_section.this-absoluteBox
							.l_bgWrap
								.child-bg
							.l_inside
								article.child-textWrap.js_transformScaleY.js_getTranslateY
									h2 籌碼選股 : 找到大人在照顧的飆股
									hr
									p 最熱門的大戶買散戶賣、主力連買的股票每天報你知<br>除了多方選股外，還有空方選股，讓你多空都能賺
								.child-phoneWrap.js_transformScaleY
									.child-phoneTop
									.child-phoneBot
						section#s_landingSection6.l_section.this-absoluteBox
							.l_bgWrap
							.l_inside
								.child-columnLeftWrap.js_transformScaleY
									h2 蘋果、安卓認證財金類第一名的APP，你還在猶豫什麼? 
									.child-android
									.child-ios
								.child-columnRightWrap.js_transformScaleY
									.child-columnRight
										.child-quote.this-apple
											p 籌碼K線讓股市從此沒有秘密，輕易找出「有大人在顧」的股票。<strong>---王裕仁</strong>
										.child-quote.this-android
											p 籌碼K線是我在投資路上的好夥伴，有了它，讓我看清楚主力作手的作線手法，不再當待宰的羔羊。<strong>---Sandra Hsu</strong>
										.child-quote.this-apple
											p 我是用籌碼K線檢視外資跟投信持股，讓我可以減少風險，增加獲利機會。<strong>---Wilson Lai</strong>
										.child-quote.this-android
											p 籌碼K線讓我不怕被大戶主力偷偷出貨...在下跌前及早出脫持股避免損失。<strong>---林建銘</strong>
						section#s_landingSection7.l_section.this-absoluteBox
							.l_bgWrap
							.l_inside
								article.child-textWrap.js_transformScaleY
									h2.child-title 上市2年限時優惠 (8/31截止)
									ol
										li 籌碼日報－結合券商分點進出明細功能，一眼看穿主力動向
										li 籌碼健檢－完整掃描各項指標，15秒判斷個股好壞!
										li 籌碼選股－幫你選出明天就可能發動的飆股
								.child-priceWrap.js_transformScaleY
									ul
										li.this-cheapest
											h3 $2,499
											h5 $2,999
											h4 一年專業版
											a.button-buy(href="#") 購買
										li
											h3 $1,299
											h5 $1,7990
											h4 半年專業版
											a.button-buy(href="#") 購買
										li
											h3 $299
											h5 $330
											h4 一個月專業版
											a.button-buy(href="#") 購買
						section#s_landingSection8.l_section.this-absoluteBox
							.l_bgWrap
								.child_bg
							.l_inside
								article.child-textWrap.js_transformScaleY
									.child-logo
									h2.child-title 立即體驗籌碼Ｋ線，不再錯過任何獲利時機！
									.child-buttonWrap
										a.child-button(href="#") 
											img(src="images/AppStore.png",alt="")
										a.child-button(href="#") 
											img(src="images/PlayStore.png", alt="") 
			.clearfix
			footer#s_pageFooter.l_fullwidth
				.child-arrowDown.js_intro-arrowDown
		script(src="js/jquery.min.js")
		script(src="js/plugins.js")
		script(src="js/main.js")
